<h1>{{title}}</h1>

<p>Title : {{content.title}}</p>
<p>Author : {{content.author}}</p>
<p>Price : {{content.price}}</p>
<p>pages : {{content.pages}}</p>
<p>avg_reviews : {{content.avg_reviews}}</p>
<p>n_reviews : {{content.n_reviews}}</p>
<p>star : {{content.star}}</p>
<p>dimensions : {{content.dimensions}}</p>
<p>weight : {{content.weight}}</p>
<p>language : {{content.language}}</p>
<p>publisher : {{content.publisher}}</p>
<p>ISBN_13 : {{content.ISBN_13}}</p>
<a href="{{content.complete_link}}">complete_link :
  {{content.complete_link}}</a>